@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.TICKET_ATENDIMENTO
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Descrição</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="containerModalDescAssunto">
        <div class="modal fade" id="modalDescAssunto" tabindex="-1" role="dialog" aria-labelledby="modalDescAssunto" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Assunto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBodyAssunto" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">Fechar</button>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            }

            <div class="row">
                <h5 style="color: green; font-weight: bold; margin-left: 15px">Estatísticas</h5>
                <div class="col-lg-2" style=" margin-left: 5px; margin-top: 2px; margin-right: -4px; height: 200px; ", id="CLAT">
                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                        <div class="ibox-title">
                            <h5>Atendimentos</h5>
                        </div>
                        <div class="ibox-content">
                            <h2 class="no-margins">@ViewBag.ATAtivo</h2>
                            <small style="cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDesc('Número de registros na tabela TICKET_ATENDIMENTO com flag de ATIVO igual a 1')">Atendimentos Ativos</small>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style=" margin-left: 5px; margin-top: 2px; margin-right: -4px; height: 200px", id="CLAT">
                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                        <div class="ibox-title">
                            <h5>Atendimentos</h5>
                        </div>
                        <div class="ibox-content">
                            <h2 class="no-margins">@ViewBag.ATInativo</h2>
                            <small style="cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDesc('Número de registros na tabela TICKET_ATENDIMENTO com flag de ATIVO igual a 0')">Atendimentos Inativos</small>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                        <div class="ibox-title">
                            <h4>Atendimentos por Status</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <canvas id="doughnutChartCLAT" height="80"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <h5 style="color: green; font-weight: bold; margin-left: 15px">Movimentos</h5>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                        <div class="ibox-title">
                            <h4>Atendimentos - Cadastrados por Dia - Mês Corrente</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <canvas id="barChartCL" height="150"></canvas>
                            </div>
                            <div class="row">
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <br />
                                        @Html.ButtonLinkIndex(text: "Ver Todos Meses", action: "VerAtendimentoDataGeral", controller: "MasterData", buttonClass: "success")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                        <div class="ibox-title">
                            <h4>Atendimentos - Crescimento/Mês</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <canvas id="barChartCLM" height="167"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 style="color: green; font-weight: bold">Filtros</h5>
                        </div>
                        @using (Html.BeginForm("FiltrarAtendimento", "MasterData", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="ibox-content">
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Categoria
                                        @Html.DropDownListFor(m => m.CAAT_CD_ID, (SelectList)ViewBag.Cats, "Selecionar", new { @class = "form-control", autofocus = true })
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        Cliente
                                        @Html.DropDownListFor(m => m.CLIE_CD_ID, (SelectList)ViewBag.Clientes, "Selecionar", new { @class = "form-control", autofocus = true })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Ordem Serviço
                                        @Html.DropDownListFor(m => m.ORSE_CD_ID, (SelectList)ViewBag.OS, "Selecionar", new { @class = "form-control", autofocus = true })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Status
                                        @Html.DropDownListFor(m => m.ATST_CD_ID, (SelectList)ViewBag.Status, "Selecionar", new { @class = "form-control", autofocus = true })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Número
                                        @Html.TextBoxFor(m => m.ATEN_NR_NUMERO, new { @class = "form-control", autofocus = true })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-8 col-md-8 col-xs-12">
                                        Assunto
                                        @Html.TextBoxFor(m => m.ATEN_NM_ASSUNTO, new { @class = "form-control", autofocus = true })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Data Início
                                        @Html.TextBoxFor(m => m.ATEN_DT_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, id="di" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                        Data Prevista
                                        @Html.TextBoxFor(m => m.ATEN_DT_PREVISTA, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, id="dp" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">                                     
                                        @Html.ButtonActionSubmit(text: "Filtrar")
                                        @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "MasterData", action: "RetirarFiltroAtendimento")
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Atendimentos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                @if (ViewBag.Listas != null && (ViewBag.Listas as List<EntitiesServices.Model.TICKET_ATENDIMENTO>).Count > 0)
                                {
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead style="background-color:lightsteelblue">
                                            <tr>
                                                <th style="width: auto">Categoria</th>
                                                <th style="width: auto">Cliente</th>
                                                <th style="width: auto">Ord.Serviço</th>
                                                <th style="width: auto">Status</th>
                                                <th style="width: auto">Número</th>
                                                <th style="width: auto">Data Início</th>
                                                <th style="width: auto">Data Prevista</th>
                                                <th class="td-one-action">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.TICKET_ATENDIMENTO>))
                                            {
                                                <tr>
                                                    <td>@cond.CATEGORIA_ATENDIMENTO.CAAT_NM_NOME</td>
                                                    <td>@cond.CLIENTE.CLIE_NM_NOME</td>
                                                    <td>@cond.ORDEM_SERVICO.ORSE_NR_NUMERO</td>
                                                    <td>@cond.ATENDIMENTO_STATUS.ATST_NM_NOME</td>
                                                    <td style="cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDescAssunto('@cond.ATEN_NM_ASSUNTO')">@cond.ATEN_NR_NUMERO</td>
                                                    <td>@cond.ATEN_DT_INICIO.ToShortDateString()</td>
                                                    <td>@cond.ATEN_DT_PREVISTA.ToShortDateString()</td>
                                                    <td class="td-one-action">
                                                        @Html.TableLinkDetails(cond.ATEN_CD_ID, "VerRegistroAtendimento", "fa-search", "Consultar")
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-2">

                                        </div>
                                        <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                            <h2 style="font-weight: bold">Sua pesquisa não retornou nenhum resultado</h2>
                                            <p>Tente outras opções de pesquisa</p>

                                            @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "MasterData", action: "RetirarFiltroAtendimento")
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-2">

                                        </div>
                                    </div>
                                }
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/loadingDots.css")
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />*@

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @*@Styles.Render("~/Content/plugins/summernote/summernote.css")*@
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/summernoteStyles")
}

@section Scripts {

    @*@Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/ionRange")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    @Scripts.Render("~/plugins/chartjs")
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")*@
    
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @*@Scripts.Render("~/Scripts/plugins/summernote/summernote.min.js")*@
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/plugins/chartjs")
    @Scripts.Render("~/plugins/flot")

    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    <script>
        function mostrarDescAssunto(desc) {
            $('#modalDescBodyAssunto').html(desc);
            $('#modalDescAssunto').modal('show');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Dados Mestres - ATENDIMENTOS' },
                    { extend: 'pdf', title: 'Dados Mestres - ATENDIMENTOS' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });      
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $("#dn").mask("99/99/9999");
            $("#tel").mask("(99)9999-9999");
            $("#di").mask("99/99/9999");
            $("#dp").mask("99/99/9999");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../MasterData/GetDadosGraficoAtendimentoSituacao'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartCLAT").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../MasterData/GetDadosGraficoAtendimento'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.dias,
                    datasets: [
                        {
                            label: "Total por Dia",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartCL").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../MasterData/GetDadosGraficoMesAtendimento'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.dias,
                    datasets: [
                        {
                            label: "Crescimento/Mês",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartCLM").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
            .css("display", "normal")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Selecione uma data",
                text: false 
            });
        });
    </script>


}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
